<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand href="#">AGENDAMENTO ONLINE</b-navbar-brand>
    </b-navbar>
  </div>
</template>

<script>
export default {

}
</script>

<style>


</style>