<template>
  <div id="app">
    <div v-if="!$online" class="offline"> 
      Você está sem conexão com a internet!
    </div>
    <vue-page-transition>
    <router-view></router-view>
    </vue-page-transition>
  </div>
</template>
<script>
import { BModal, VBModal } from 'bootstrap-vue'
export default {
  name: 'App',
}
</script>
<style>
.offline {
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
  text-align: center !important;
  color: white !important;
  position: fixed;
  top: 0;
  width: 100% !important;
  z-index: 10 !important;
}
</style>
