<!DOCTYPE html>
<html>
   <head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
      <meta content="width=device-width" name="viewport"/>
      <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
      <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css">
   </head>
   <body style="margin: 0 !important; padding: 0 !important; background-color: #eee; font-family: 'Poppins', Arial, Helvetica, sans-serif;">
      <div style="width: 100%  !important; padding-top: 20px !important; padding-bottom: 20px !important; height: auto; background-color: #eee;">
         <div style="display: block; width: 600px !important; position: relative; margin: auto;">
           <table>
               <tr style="display: block; width: 600px !important; height: auto; margin: 0; padding: 0; border: none; border-collapse: inherit; border-spacing: 0; border-color: inherit; vertical-align: inherit; text-align: left; font-weight: inherit; -webkit-border-horizontal-spacing: 0; -webkit-border-vertical-spacing: 0; min-width: 100% !important; height: 92px !important;">
                 <td style="padding:0px !important;"><img src="{{caminho}}img/topo.png" saveddisplaymode="block" style="min-width: 100% !important; height: 92px !important;"></td>
               </tr>
               <tr style="background-color: white !important; display: block; width: 600px !important; height: auto; margin: 0; padding: 0; border: none; border-collapse: inherit; border-spacing: 0; border-color: inherit; vertical-align: inherit; text-align: left; font-weight: inherit; -webkit-border-horizontal-spacing: 0; -webkit-border-vertical-spacing: 0;">
                  <td style="display: inline;">
                   <div style="position: relative; min-height: 100px !important; width: 90%; padding: 10px 25px 10px 25px !important; height: auto;">
                     <div style="float: left; height: auto;">
                         <div style="height:5px; margin-right: 85%; border-top: 4px solid #008C28; margin-bottom: 2px !important;"></div>
                         <span style="font-size: 26px !important; color: #071D41; text-transform: uppercase; line-height: .9;">
                           <strong>ATIVAÇÃO<br><span style="font-size: 40px !important; font-weight: bold;">DE CONTA</span></strong>
                         </span>
                     </div>
                     <div style="float: right; height: auto; margin-top: 20px !important;">
                       <img src="{{caminho}}img/logo-pref.jpg" saveddisplaymode="block" alt="Logo" style="text-decoration: none; -ms-interpolation-mode: bicubic; border: 0; height: auto; width: 200px; display: block;" width="147">
                     </div>
                   </div>
                   <div style="position: relative; min-height: 100px !important; width: 90%; padding: 10px 25px 10px 25px !important; height: auto; text-align: justify;">
                     <span style="color: #4e5264; font-size: 16px !important;">
                       Olá, <strong>{{nomedousuario}}</strong>.<br/><br/>Para ativar sua conta basta clicar no botão abaixo.<br/><br/>
                     </span>
                     <a href="{{caminho}}ativar/{{token}}" style="text-decoration: none;color:black;display:block;text-align:center; font-family:'Poppins', Arial, Helvetica, sans-serif; background-color:#FFE4C4; width:99%; height:35px !important; border:4px dashed #ffba66;  border-radius:5px !important;  font-weight:bold;  font-size:16px !important; align-items: center;  justify-content: center;" align="center">
                       <span style="margin-top: 5px !important; display: block;">Ativar minha conta agora</span>
                     </a>
                   </div>
                   <div style="position: relative; min-height: 40px !important; width: 90%; padding: 10px 15px 10px 15px !important; height: auto;">
                     <div style="position: relative; width: 97%; background-color: #EEEEEE; padding: 10px !important; height: auto; padding-bottom: 10px !important;">
                        <div style="text-align: right;">
                          <span style="font-size: 12px !important; color: #424242; display:block; margin-bottom: 8px !important;"><strong>Prefeitura de Itapecuru-Mirim</strong> <BR>Transparência e Desenvolvimento</span>
                        </div>
                      </div>
                   </div>
                 </td>
               </tr>
               <tr style="display: block; width: 600px !important; height: auto; margin: 0; padding: 0; border: none; border-collapse: inherit; border-spacing: 0; border-color: inherit; vertical-align: inherit; text-align: left; font-weight: inherit; -webkit-border-horizontal-spacing: 0; -webkit-border-vertical-spacing: 0; min-width: 100% !important; height: 92px !important;">
                 <td style="padding:0px !important;"><img src="{{caminho}}img/rodape.png" saveddisplaymode="block" style="min-width: 100% !important; height: 92px !important;"></td>
               </tr>
             </tbody>
           </table>
         </div>
      </div>
   </body>
</html>
