<template>
  <div>
    <b-container>
      <b-row class="box-recuperacao">
        <b-col md="12" class="box-form">
          <b-img src="/img/logopref.png" fluid class="mb-3 img-pref"></b-img>
          <h3 class="logo">Agendamento</h3>
          <span class="slogan text-right">Agende onde estiver.</span>
          <b-tabs pills card>
            <b-tab title="Ativação de conta" active>
              <b-card-text>
                  <h4 class="text-white p-5" v-if="mensagemSucesso">
                    <b-icon-check-circle class="x mb-2 mt-2"></b-icon-check-circle>
                    {{ mensagemSucesso }}
                  </h4>
                  <h4 class="text-white p-5" v-if="mensagemErro">
                    <b-icon-x-circle class="x mb-2 mt-2"/>
                    {{ mensagemErro }}
                  </h4>
                  <span class="voltar" @click="Voltar"><b-icon-arrow-left-circle class="mr-1"></b-icon-arrow-left-circle>Voltar</span>
              </b-card-text>
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import { BButton, BCol, BRow, BContainer, BTabs, BTab, BOverlay, BCardText, BImg, IconsPlugin, BIconCheckCircle, BIconArrowLeftCircle, BIconXCircle } from 'bootstrap-vue'
export default {
  name: 'Ativacao',
  components: {
    BButton, BCol, BRow, BContainer, BTabs, BTab, BOverlay, BCardText, BImg, IconsPlugin, BIconCheckCircle, BIconArrowLeftCircle, BIconXCircle
  },
  data() {
    return {
      api: process.env.VUE_APP_API_BASEURL,
      isLoading: true,
      mensagemSucesso: null,
      mensagemErro: null,
    }
  },
  methods:{
    Voltar(){
      this.AbrePagina('/login');
    },
    Ativar(token){
      this.axios.post(this.api+'ativacao/ativar',
                            {strtoken: token })
      .then((retorno)=>{
        this.isLoading = false;
        if(retorno){
          this.mensagemSucesso = retorno.data.mensagem;
        }
      }).catch((error)=>{
        this.isLoading = false;
        this.mensagemErro = error.response.data.mensagem;
      });
    },
  },
  mounted(){
    this.Ativar(this.$route.params.token);
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300&display=swap');
html{
  height: 100vh;
  background: linear-gradient(180deg, rgba(51,11,87,1) 0%, rgba(36,72,115,1) 35%,  rgb(137, 237, 255) 90%, rgba(246,252,252,1) 100vh);
  background-attachment: fixed;
  background-color: white;
  background-repeat: no-repeat !important;
  padding: 0 !important;
  margin: 0 !important;
}
body {
  background-attachment: fixed;
  background: url('/img/bg.png');
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}
.box-recuperacao a {
  color: rgb(252, 252, 252) !important;
}
.box-recuperacao h4 {
  font-size: 1.8rem;
  text-align: center;
}
.box-recuperacao .helper small{
  color: white !important;
  text-align: center !important;
}
.box-recuperacao .logo{
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color:white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.box-recuperacao .box-form{
  height: 80vh;
}
.box-recuperacao .slogan{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: 'Quicksand', sans-serif;
  color: white !important;
  font-size: 1rem;
  line-height: 1rem;
  width: 100% !important;
  margin-top: -10px;
}
.box-recuperacao{
  max-width: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto !important;
}
.box-recuperacao .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  border-radius: 0 !important;
  border-bottom: 6px solid #00AEAA !important;
  background: transparent !important;
}
.box-recuperacao .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  font-weight: bold !important;
}
.box-recuperacao .form-control, .box-recuperacao .custom-select{
  background-color: #ddfffe;
  border: none !important;
  outline: none !important;
}
.box-recuperacao .form-control:focus{
  background-color: #bffcfb;
  border: none !important;
  outline: none !important;
}
.box-recuperacao .btn-entrar{
  background-color: #5C2E91 !important;
  outline: none !important;
  border: none !important;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
}
.box-recuperacao .btn-entrar:hover, .box-recuperacao .btn-entrar:focus{
  background-color: #6e40a3 !important;
}
.box-recuperacao .card-header {
  margin-top:10px !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.box-recuperacao .card-header li{
  text-align: center;
  width: 100%;
}
.box-recuperacao .tab-content {
   background-color: rgba(0, 0, 0, 0.05) !important;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
}
.box-recuperacao .img-pref{
  display: block;
  margin: auto;
}
.box-recuperacao .voltar {
  color: #DEFFFE;
  text-decoration: none; 
  margin-top: 10px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.box-recuperacao .x {
  width: 100%;
  display: block !important;
  font-size: 4rem;
}

</style>
