<template>
  <div>
    <b-container>
      <b-row class="box-agendamento mb-3">
        <b-col md="12" class="box-form">
          <b-img src="/img/logopref.png" fluid class="mb-3 img-pref"></b-img>
          <h3 class="logo">Agendamento</h3>
          <span class="slogan text-right mb-3">Agende onde estiver.</span>
          <span class="text-white">Bem vindo(a) {{nome}}!</span>
          <span class="text-white sair" @click="Sair">SAIR <b-icon-x-circle-fill class="ml-1"/></span>
          <b-tabs pills card>
            <b-tab title="Agendar" active>
              <b-card-text>
                <span class="text-white instrucoes mt-0 mb-3">01. Selecione uma data no calendário abaixo</span>
                <b-overlay :show="isLoadingDias" rounded="sm">
                  <b-calendar block 
                        locale="pt-BR" 
                        :hide-header="hideHeader" 
                        :date-disabled-fn="desabilitarDatas"
                        @context="selecionaData"
                        selected-variant="primary"
                        today-variant="info"
                        min="2021-02-22"
                        max="2021-03-31"
                        nav-button-variant="light"></b-calendar>
                </b-overlay>
                <div v-if="dtaagendamento.selectedDate">
                <span class="text-white instrucoes mt-2 mb-1">02. Selecione o turno que desejar</span>
                <b-form-select v-model="strturno" :options="opcoes" class="mb-2 mt-2" ref="intestadocivilid_cadastro"></b-form-select>
                </div>
                <div v-if="strturno && strturno.length > 0">
                  <span class="text-white instrucoes mt-0 mb-3">03. Clique no botão abaixo</span>
                  <b-overlay
                    :show="btconfirmarLoading"
                    rounded="pill"
                    opacity="0.6"
                    spinner-small
                    spinner-variant="primary" class="mt-3">
                    <b-button variant="primary" class="btn-entrar p-2" @click="Confirmar" >
                      <b-icon-check-circle class="mr-1"></b-icon-check-circle> CONFIRMAR
                    </b-button>
                  </b-overlay>
                </div>
              </b-card-text>
            </b-tab>
            <b-tab title="Agendamentos">
              <b-card class="linha-card mb-2" v-if="agendamentos && agendamentos.length > 0" v-for="(agendamento, index) in agendamentos" :key="index">
                <b-card-text class="text-white">
                  <b-card-text class="text-primary">
                    <span class="numero-protocolo mt-1">COMPROVANTE DE AGENDAMENTO ONLINE</span>
                    <span class="funcionamento-protocolo mt-2">
                      <small>Funcionamento: </small>
                      08h às 12h e 14h às 18h
                    </span>
                    <span class="funcionamento-protocolo mt-2">
                      <small>Solicitante: </small>
                      {{ agendamento.strnome }}
                    </span>
                    <div class="mt-1">
                      <small class="titulo-instrucoes">Data/Hora da Solicitação: </small><br>
                      <span class="instrucoes-protocolo">
                        <strong>{{ agendamento.createdAt | datetimeBR }}</strong>
                      </span>
                    </div>
                    <div class="mt-1">
                      <small class="titulo-instrucoes">Agendado para: </small><br>
                      <span class="instrucoes-protocolo">
                        <strong class="dotted">{{ agendamento.dtadisponivel | dateBR }} {{ agendamento.strturno | turno }}</strong>
                      </span>
                    </div>
                    <span class="mt-">
                      <small class="titulo-instrucoes">Instruções: </small><br>
                      <span class="instrucoes-protocolo">
                        <div class="p-0 mt-2" v-if="estadoCivil === 1">
                          <strong class="estado-civil">BENEFICIÁRIO SOLTEIRO (A):</strong><br>
                          Comparecer levando os seguintes documentos:
                          <div>
                            <b-badge pill class="text-dark bg-light texto-documentos">RG/CPF</b-badge>
                            <b-badge pill class="text-dark bg-light texto-documentos">TÍTULO DE ELEITOR</b-badge>
                            <b-badge pill class="text-dark bg-light texto-documentos">CERTIDÃO DE NASCIMENTO</b-badge>
                            <b-badge pill class="text-dark bg-light texto-documentos">COMPROVANTE DE RESIDÊNCIA</b-badge>
                          </div>
                        </div>
                        <div class="p-0 mt-2" v-if="estadoCivil === 2">
                          <strong class="estado-civil">BENEFICIÁRIO CASADO (A):</strong><br>
                          Comparecer levando os seguintes documentos:
                          <div>
                            <b-badge pill class="text-dark bg-light texto-documentos">RG/CPF</b-badge>
                            <b-badge pill class="text-dark bg-light texto-documentos">TÍTULO DE ELEITOR</b-badge>
                            <b-badge pill class="text-dark bg-light texto-documentos">CERTIDÃO DE NASCIMENTO</b-badge>
                            <b-badge pill class="text-dark bg-light texto-documentos">COMPROVANTE DE RESIDÊNCIA</b-badge>
                          </div>
                        </div>
                        <div class="p-0 mt-2" v-if="estadoCivil === 3">
                          <strong class="estado-civil">BENEFICIÁRIO VIÚVO (A):</strong><br>
                          Comparecer levando os seguintes documentos:
                          <div>
                            <b-badge pill class="text-dark bg-light texto-documentos">RG/CPF</b-badge>
                            <b-badge pill class="text-dark bg-light texto-documentos">TÍTULO DE ELEITOR</b-badge>
                            <b-badge pill class="text-dark bg-light texto-documentos">CERTIDÃO DE ÓBITO</b-badge>
                            <b-badge pill class="text-dark bg-light texto-documentos">COMPROVANTE DE RESIDÊNCIA</b-badge>
                          </div>
                        </div>

                        <div class="p-0 mt-2" v-if="estadoCivil === 4">
                          <strong class="estado-civil">BENEFICIÁRIO DIVORCIADO (A):</strong><br>
                          Comparecer levando os seguintes documentos:
                          <div>
                            <b-badge pill class="text-dark bg-light texto-documentos">RG/CPF</b-badge>
                            <b-badge pill class="text-dark bg-light texto-documentos">TÍTULO DE ELEITOR</b-badge>
                            <b-badge pill class="text-dark bg-light texto-documentos">AVERBAÇÃO</b-badge>
                            <b-badge pill class="text-dark bg-light texto-documentos">COMPROVANTE DE RESIDÊNCIA</b-badge>
                          </div>
                        </div>
                      </span>
                      <div class="img-responsive">
                        <barcode v-bind:value="'PRT-'+zeroFill(agendamento.id)" class="text-center mt-3"></barcode>
                      </div>
                    </span>
                  </b-card-text>
                </b-card-text>
              </b-card>
              <b-card-text class="text-white" v-if="agendamentos && agendamentos.length <= 0">
                <h4><b-icon-x-circle class="x mb-2 mt-5"></b-icon-x-circle> Você não possui agendamentos</h4>
              </b-card-text>
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import moment from 'moment';
import { BBadge,BCalendar,BCard,BButton,BCol,BRow, BContainer, BTabs, BTab, BFormGroup, BFormInput, BFormSelect, BOverlay, BAlert, BCardText, BImg, BImgLazy, IconsPlugin, BIconCheckCircle, BIconXCircleFill, BIconXCircle } from 'bootstrap-vue'
import VueBarcode from 'vue-barcode';
import { dateBR } from '../middlewares/funcoes'
export default {
  name: 'Agendar',
  components: {
    'barcode': VueBarcode,
    dateBR,
    BBadge,BCalendar,BCard,BButton,BCol,BRow, BContainer, BTabs, BFormGroup, BFormInput, BFormSelect, BOverlay, BAlert, BCardText, BTab,  BImg, BImgLazy, IconsPlugin, BIconCheckCircle, BIconXCircleFill, BIconXCircle
  },
  data() {
      return {
        api: process.env.VUE_APP_API_BASEURL,
        btconfirmarLoading: false,
        isLoadingDias: true,
        selected: null,
        hideHeader: true,
        estadoCivil: null,
        dtaagendamento: '',
        strturno: null,
        agendamentos: [],
        dias_configurados: [],
        opcoes: [{ text: 'Selecione o turno', value: null, disabled: true },
                 { text: 'Matutino', value: 'M'},
                 { text: 'Vespertino', value: 'V'}],
        value: '',
        nome: '',
      }
    },
    filters:{
      turno(value){
        if(value && value.length > 0){
          return (value === 'M')? '- Matutino' : '- Vespertino';
        } else {
          return '';
        }
      }
    },
    methods:{
      zeroFill(value){
        var number = value
        var width = 11;
        width -= number.toString().length;
        if ( width > 0 ){
          return new Array( width + (/\./.test( number ) ? 2 : 1) ).join( '0' ) + number;
        }
        return number + "";
      },
      getDados(){
        let dados = JSON.parse(atob(localStorage.getItem('userToken').split('.')[1]));
        this.nome = dados.strnome;
        this.estadoCivil = dados.intestadoid;
      },
      getCalendario(){
        this.isLoadingDias = true;
        this.axios.get(this.api+'calendario/disponivel')
        .then((retorno)=>{
          if(retorno){
            if(retorno.data.calendario && retorno.data.calendario.length > 0) this.dias_configurados = retorno.data.calendario;
            this.isLoadingDias = false;
          } 
        }).catch((error)=>{
          this.isLoadingDias = true;
          this.AvisoErro(error.response.data.mensagem);
        });
      },
      getAgendamentos(){
        this.axios.get(this.api+'agendamentos/meus-agendamentos')
        .then((retorno)=>{
          if(retorno){
            if(retorno.data.agendamento && retorno.data.agendamento.length > 0) this.agendamentos = retorno.data.agendamento;
          } 
        }).catch((error)=>{
          this.AvisoErro(error.response.data.mensagem);
        });
      },
      selecionaData(valor){
        this.dtaagendamento = valor;
      },
      desabilitarDatas(ymd, date) {
        let data = moment(date).format('YYYY-MM-DD');
        let busca = this.dias_configurados.filter(dia=> dia.dtadisponivel === data && dia.qtd > 0)
        return busca && busca.length <= 0
      },
      LimparCampos(){
        this.dtaagendamento = '';
        this.strturno = null;
      },
      Confirmar(){
        this.ValidaToken();
        let checa_qtd = this.dias_configurados.filter(dia => dia.dtadisponivel === this.dtaagendamento.selectedYMD);
        if(this.dtaagendamento.selectedYMD === '' || this.dtaagendamento.selectedYMD === null){
          this.AvisoErro('Você não selecionou nenhuma data no calendário');
        } else if(checa_qtd.qtd_matutino <= 0 && this.strturno === 'M' 
                  || checa_qtd.qtd_vespertino <= 0 && this.strturno === 'V'){
          this.AvisoErro('Não há mais vagas disponiveis para este turno nesta data');
        } else {
          let turno = '';
          if(this.strturno === 'M') turno = 'Matutino';
          if(this.strturno === 'V') turno = 'Vespertino';
          this.Pergunta('Deseja realmente confirmar o agendamento para a data <strong>'+dateBR(this.dtaagendamento.selectedYMD)+' no turno '+turno+'</strong>?')
          .then(async (result) => {
            if (result.isConfirmed){
              let intdtadisponivelid = this.dias_configurados.filter(dia => dia.dtadisponivel === this.dtaagendamento.selectedYMD);
              this.btconfirmarLoading = true;
              let dados = JSON.parse(atob(localStorage.getItem('userToken').split('.')[1]));
              this.axios.post(this.api+'agendamentos/insert',{ intdtadisponivelid: intdtadisponivelid[0].id, strturno: this.strturno, intmoradorid: dados.id })
              .then((retorno)=>{
                if(retorno){
                  this.btconfirmarLoading = false;
                  this.AvisoSucessoPromise(retorno.data.mensagem).then(() => this.LimparCampos(),this.getDados(), this.getCalendario(), this.getAgendamentos());
                } 
              }).catch((error)=>{
                this.btconfirmarLoading = false;
                this.AvisoErro(error.response.data.mensagem)
              });
            }
          });
        }

      },
      Sair(){
        this.ValidaToken();
        this.Pergunta('Deseja realmente sair?')
        .then(async (result) => {
          if (result.isConfirmed) localStorage.removeItem('userToken'),this.AbrePagina('/login');
        });
      }
    },
    mounted(){
      this.getDados();
      this.getCalendario();
      this.getAgendamentos();
    }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300&display=swap');
html{
  height: 100vh;
  background: linear-gradient(180deg, rgba(51,11,87,1) 0%, rgba(36,72,115,1) 35%,  rgb(137, 237, 255) 90%, rgba(246,252,252,1) 100vh);
  background-attachment: fixed;
  background-color: white;
  background-repeat: no-repeat !important;
  padding: 0 !important;
  margin: 0 !important;
}
body {
  background-attachment: fixed;
  background: url('/img/bg.png');
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}
.box-agendamento .b-calendar .form-control{
  color: darkslateblue !important;
  background-color: #cfffcd !important;
  text-transform: uppercase;
}
.box-agendamento .b-calendar-grid-caption, 
.box-agendamento .b-calendar-grid-weekdays{
  background-color: white !important;
  text-transform: uppercase;
}
.box-agendamento .b-calendar .btn-primary:not(:disabled):not(.disabled).active{
  background-color: #5C2E91;
}
.box-agendamento .dotted{
  width: fit-content;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  display: block;
  background-color: #5C2E91;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.box-agendamento .img-responsive {
  width: 100%;
  height: auto;
}
.box-agendamento .img-responsive svg{
  display: block;
  text-align: center;
  width: 80%;
  height: auto;
  margin: auto;
}
.box-agendamento .sair{
  background-color: red;
  float: right;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 1px;
  border-radius: 10px;
  font-size: 0.8rem;
  margin-top: 5px;
  cursor: pointer;
}
.box-agendamento strong .estado-civil{
  margin-top:20px;
}
.box-agendamento .bold{
  font-weight: bold;
  color: #5C2E91;
}
.box-agendamento .titulo-instrucoes{
  font-size: 0.8rem !important;
  line-height: 1rem;
  color: #5C2E91;
}
.box-agendamento .instrucoes-protocolo{
  font-size: 0.8rem !important;
  line-height: 1.4rem;
  color: #5C2E91;
}
.box-agendamento .texto-documentos{
  font-size: 0.6rem;
  padding: 7px;
  margin: 2px;
  background-color: #ebebeb;
  display: inline-block;
}
.box-agendamento .numero-protocolo{
  font-weight: bold;
  color: #5C2E91;
  font-size: 0.8rem;
}
.box-agendamento .data-protocolo{
  font-weight: bold;
  background-color: #5C2E91;
  padding: 6px;
  float: right;
}
.box-agendamento .funcionamento-protocolo small{
  display: block;
}
.box-agendamento .funcionamento-protocolo{
  font-weight: bold;
  color: #5C2E91;
  display: block;
}
.box-agendamento .instrucoes{
  text-align: center;
  display: block !important;
  font-size: 1rem;
  line-height: 1rem;
  background-color: #5C2E91;
  padding-top: 8px;
  padding-bottom: 8px;
}
.box-agendamento a {
  color: rgb(252, 252, 252) !important;
}
.box-agendamento .logo{
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color:white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.box-agendamento .box-form{
  height: 80vh;
}
.box-agendamento .slogan{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: 'Quicksand', sans-serif;
  color: white !important;
  font-size: 1rem;
  line-height: 1rem;
  width: 100% !important;
  margin-top: -10px;
}
.box-agendamento .linha-card{
  border: none;
  border-bottom: #5C2E91 8px solid;
  border-radius: 0;
}
.box-agendamento{
  max-width: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto !important;
}
.box-agendamento h4{
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  height: 20vh;
}
.box-agendamento .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  border-radius: 0 !important;
  border-bottom: 6px solid #00AEAA !important;
  background: transparent !important;
}
.box-agendamento .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  font-weight: bold !important;
}
.box-agendamento .form-control, .box-agendamento .custom-select{
  background-color: white;
  border: none !important;
  outline: none !important;
}
.box-agendamento .form-control:focus{
  background-color: white;
  border: none !important;
  outline: none !important;
}
.box-agendamento .btn-entrar{
  background-color: green !important;
  outline: none !important;
  border: none !important;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
}
.box-agendamento .btn-entrar:hover, .box-agendamento .btn-entrar:focus{
    background-color: rgb(0, 184, 0) !important;
}
.box-agendamento .card-header {
  margin-top:10px !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.box-agendamento .card-header li{
  text-align: center;
  width: 50%;
}
.box-agendamento .tab-content {
   background-color: rgba(0, 0, 0, 0.05) !important;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
}
.box-agendamento .img-pref{
  display: block;
  margin: auto;
}
.box-agendamento .esqueceu {
  color: #DEFFFE;
  text-decoration: underline; 
  margin-top: 10px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.box-agendamento .x {
  width: 100%;
  display: block !important;
  font-size: 4rem;
}
.b-calendar-grid-help{
  display: none;
}
</style>
