<template>
  <div>
    <b-container>
      <b-row class="box-login">
        <b-col md="12" class="box-form">
          <b-img src="/img/logopref.png" fluid class="mb-3 img-pref"></b-img>
          <h3 class="logo">Agendamento</h3>
          <span class="slogan text-right">Agende onde estiver.</span>
          <b-tabs pills card>
            <b-tab title="Entrar" active>
              <b-card-text>
                <b-form-input :maxlength="255" placeholder="E-mail*" autocomplete="off" class="mb-3" ref="stremail_login" v-model.trim="entrar.stremail" v-on:keyup.enter="ChecaDadosLogin"></b-form-input>
                <b-form-input :maxlength="12" type="password" autocomplete="off" placeholder="Senha*" class="mb-3"  v-model.trim="entrar.strpassword" ref="strsenha_login" v-on:keyup.enter="ChecaDadosLogin"></b-form-input>
                <b-overlay
                  :show="btentrarLoading"
                  rounded="pill"
                  opacity="0.6"
                  spinner-small
                  spinner-variant="primary">
                    <b-button variant="primary" class="btn-entrar p-2" @click="Entrar">
                      <b-icon-check-circle class="mr-1"></b-icon-check-circle> ENTRAR
                    </b-button>
                  </b-overlay>
                 <span class="esqueceu" @click="Recuperar">Esqueceu sua senha?</span>
              </b-card-text>
            </b-tab>
            <b-tab title="Cadastro">
              <b-card-text class="tab-cadastro">
                <b-alert variant="success" show dismissible>
                  <h4 class="alert-heading">Atenção</h4>
                   O <strong>preenchimento de todos os campos são obrigatórios.</strong> Caso você não possua algum do(s) dado(s) solicitado(s), sugerimos que tente o agendamento via telefone ligue:<hr>
                  <h5 class="mb-0"><a class="fone" href="tel:+559834632930"><strong>(98) 3463.2930</strong></a></h5></b-alert>
                <b-form-input placeholder="Nome Completo*" autocomplete="off" v-model.trim="formulario.strnome" v-on:keyup.enter="ChecaDadosCadastro" class="mb-3" ref="strnome_cadastro"/>
                <b-form-group class="helper" description="Celular com DDD">
                  <b-form-input type="tel" id="strcelular" placeholder="Celular*" autocomplete="off" v-model.trim="formulario.strcelular" v-on:keyup.enter="ChecaDadosCadastro" class="mb-1 form-control" ref="strcelular_cadastro"/>
                </b-form-group>
                  <b-form-input placeholder="E-mail*" autocomplete="off" v-model.trim="formulario.stremail" v-on:keyup.enter="ChecaDadosCadastro" class="mb-3" ref="stremail_cadastro" :maxlength="255"/>
                <b-form-group class="helper" description="A senha deve conter letras e/ou números no mín. 6 e máx. 12 caracteres">
                  <b-form-input placeholder="Senha*" autocomplete="off" v-model.trim="formulario.strsenha" v-on:keyup.enter="ChecaDadosCadastro" type="password" class="mb-1" :maxlength="12" ref="strsenha_cadastro"/>
                </b-form-group>
                <b-form-input type="tel" id="strcpf" placeholder="CPF*" autocomplete="off" v-model.trim="formulario.strcpf" v-on:keyup.enter="ChecaDadosCadastro" class="mb-3 form-control" ref="strcpf_cadastro"/>
                <b-form-input type="tel" id="strrg" placeholder="RG*" autocomplete="off" v-model.trim="formulario.strrg" v-on:keyup.enter="ChecaDadosCadastro" class="mb-3" ref="strrg_cadastro"></b-form-input>
                <b-form-select v-model="formulario.intestadocivilid" v-on:keyup.enter="ChecaDadosCadastro" :options="opcoes" class="mb-3" ref="intestadocivilid_cadastro"></b-form-select>
                <b-overlay
                  :show="btcadastrarLoading"
                  rounded="pill"
                  opacity="0.6"
                  spinner-small
                  spinner-variant="primary">
                  <b-button variant="primary" class="btn-entrar p-2" @click="Cadastrar">
                    <b-icon-plus-circle class="mr-1"></b-icon-plus-circle> CADASTRAR
                  </b-button>
                </b-overlay>
              </b-card-text>
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import { BButton,BCol,BRow, BContainer, BTabs, BTab, BFormGroup, BFormInput, BFormSelect, BOverlay, BAlert, BCardText, BImg, BImgLazy, IconsPlugin, BIconCheckCircle, BIconPlusCircle } from 'bootstrap-vue'
import CPF, { validate } from 'cpf-check';
export default {
  name: 'Login',
  components: {
    BButton,BCol,BRow, BContainer, BTabs, BFormGroup, BFormInput, BFormSelect, BOverlay, BAlert, BCardText, BTab,  BImg, BImgLazy, IconsPlugin, BIconCheckCircle, BIconPlusCircle
  },
  data() {
    return {
      btentrarLoading: false,
      btcadastrarLoading: false,
      entrar:{
        stremail: '',
        strpassword: '',
      },
      formulario:{
        strnome: '',
        strcelular: '',
        stremail: '',
        strsenha: '',
        strcpf: '',
        strrg: '',
        intestadocivilid: null
      },
      api: process.env.VUE_APP_API_BASEURL,
      opcoes: [
        { value: null, text: 'Selecione seu estado civil', disabled: true },
        { value: 1, text: 'SOLTEIRO (A)',  },
        { value: 2, text: 'CASADO (A)',  },
        { value: 3, text: 'VIUVO (A)',  },
        { value: 4, text: 'DIVORCIADO (A)',  },
      ]
    }
  },
  methods:{
    ChecaDadosLogin(){
      if(this.entrar.stremail.length > 0 && this.entrar.strpassword.length <= 0){
        setTimeout(()=>this.$refs.strsenha_login.focus(),50);
      }
      else if(this.entrar.stremail.length <= 0 && this.entrar.strpassword.length > 0){
        setTimeout(()=>this.$refs.stremail_login.focus(),50);
      } 
      else if(this.entrar.stremail.length > 0 && this.entrar.strpassword.length > 0){
        this.Entrar(); 
      }
    },
    Entrar(){
      if(this.entrar.stremail.length <= 0){
        this.AvisoErroPromise('Você não preencheu o campo E-mail').then(()=> setTimeout(()=>this.$refs.stremail_login.focus(),500));
      }
      else if(this.entrar.strpassword.length <= 0){
        this.AvisoErroPromise('Você não preencheu o campo Senha').then(()=> setTimeout(()=>this.$refs.strsenha_login.focus(),500));
      } else {
        this.btentrarLoading = true;
        this.axios.post(this.api+'autenticar-morador',
                        { stremail: this.entrar.stremail, 
                          strsenha: this.entrar.strpassword })
        .then((retorno)=>{
          if(retorno){
            this.btentrarLoading = false;
            localStorage.setItem('userToken',retorno.data.token);
            this.AbrePagina('/agendar');
          } 
        }).catch((error)=>{
          this.btentrarLoading = false;
          this.AvisoErro(error.response.data.mensagem)
        });
      }
    },
    Recuperar(){
      this.AbrePagina('/recuperacao');
    },
    LimparDadosCadastro(){
      this.formulario = {
        strnome: '',
        strcelular: '',
        stremail: '',
        strsenha: '',
        strcpf: '',
        strrg: '',
        intestadocivilid: null
      };
    },
    ChecaDadosCadastro(){
      if(this.formulario.strnome.length > 0 && this.formulario.strcelular.length <= 0){
        setTimeout(()=> this.$refs.strcelular_cadastro.focus(),50);
      } else if(this.formulario.strcelular.length > 0 && this.formulario.stremail.length <= 0){
        setTimeout(()=> this.$refs.stremail_cadastro.focus(),50);
      } else if(this.formulario.stremail.length > 0 && this.formulario.strsenha.length <= 0){
        setTimeout(()=> this.$refs.strsenha_cadastro.focus(),50);
      } else if(this.formulario.strsenha.length > 0 && this.formulario.strcpf.length <= 0){
        setTimeout(()=> this.$refs.strcpf_cadastro.focus(),50);
      } else if(this.formulario.strcpf.length > 0 && this.formulario.strrg.length <= 0){
        setTimeout(()=> this.$refs.strrg_cadastro.focus(),50);
      } else if(this.formulario.strrg.length > 0 && this.formulario.intestadocivilid === null){
        setTimeout(()=> this.$refs.intestadocivilid_cadastro.focus(),50);
      } else if(this.formulario.strnome.length > 0
                && this.formulario.strcelular.length > 0
                && this.formulario.stremail.length > 0
                && this.formulario.strsenha.length > 0
                && this.formulario.strcpf.length > 0
                && this.formulario.strrg.length > 0
                && this.formulario.intestadocivilid !== null) this.Cadastrar();
    },
    Cadastrar(){
      if(this.formulario.strnome.length <= 0){
        this.AvisoErroPromise('Você não preencheu o campo Nome').then(()=> setTimeout(()=>this.$refs.strnome_cadastro.focus(),500));
      } else if(this.formulario.strcelular.length <= 0){
        this.AvisoErroPromise('Você não preencheu o campo Celular').then(()=> setTimeout(()=>this.$refs.strcelular_cadastro.focus(),500));
      } else if(this.formulario.stremail.length <= 0){
        this.AvisoErroPromise('Você não preencheu o campo E-mail').then(()=> setTimeout(()=>this.$refs.stremail_cadastro.focus(),500));
      } else if(this.formulario.strsenha.length <= 0){
        this.AvisoErroPromise('Você não preencheu o campo Senha').then(()=> setTimeout(()=>this.$refs.strsenha_cadastro.focus(),500));
      } else if(this.formulario.strcpf.length <= 0){
        this.AvisoErroPromise('Você não preencheu o campo CPF').then(()=> setTimeout(()=>this.$refs.strcpf_cadastro.focus(),500));
      } else if(!CPF.validate(this.formulario.strcpf)){
        this.AvisoErroPromise('CPF inválido').then(()=> setTimeout(()=>this.$refs.strcpf_cadastro.focus(),500));
      } else if(this.formulario.strrg.length <= 0){
        this.AvisoErroPromise('Você não preencheu o campo RG').then(()=> setTimeout(()=>this.$refs.strrg_cadastro.focus(),500));
      } else if(this.formulario.intestadocivilid === null){
        this.AvisoErroPromise('Você não selecionou o campo Estado civil').then(()=> setTimeout(()=>this.$refs.intestadocivilid_cadastro.focus(),500));
      } else {
        this.Pergunta('Deseja realmente cadastrar?')
        .then(async (result) => {
          if (result.isConfirmed){
            this.btcadastrarLoading = true;
            this.axios.post(this.api+'moradores/insert',
                            this.formulario)
            .then((retorno)=>{
              this.btcadastrarLoading = false;
              if(retorno){
                this.AvisoSucessoPromise(retorno.data.mensagem)
                .then(()=>{ 
                  this.LimparDadosCadastro();
                 });
              } 
            }).catch((error)=>{
              this.btcadastrarLoading = false;
              this.AvisoErro(error.response.data.mensagem);
            });
          }
        });
      }
    }
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300&display=swap');
.tab-cadastro a:link, 
.tab-cadastro a:hover,
.tab-cadastro a:active{
  text-decoration: none !important;
  color: #145724 !important;
}
html{
  height: 100vh;
  background: linear-gradient(180deg, rgba(51,11,87,1) 0%, rgba(36,72,115,1) 35%,  rgb(137, 237, 255) 90%, rgba(246,252,252,1) 100vh);
  background-attachment: fixed;
  background-color: white;
  background-repeat: no-repeat !important;
  padding: 0 !important;
  margin: 0 !important;
}
body {
  background-attachment: fixed;
  background: url('/img/bg.png');
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}
.box-login a {
  color: rgb(252, 252, 252) !important;
}
.box-login .helper small{
  color: white !important;
  text-align: center !important;
}
.box-login .logo{
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color:white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.box-login .box-form{
  height: 80vh;
}
.box-login .slogan{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: 'Quicksand', sans-serif;
  color: white !important;
  font-size: 1rem;
  line-height: 1rem;
  width: 100% !important;
  margin-top: -10px;
}
.box-login{
  max-width: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto !important;
}
.box-login .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  border-radius: 0 !important;
  border-bottom: 6px solid #00AEAA !important;
  background: transparent !important;
}
.box-login .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  font-weight: bold !important;
}
.box-login .form-control, .box-login .custom-select{
  background-color: #ddfffe;
  border: none !important;
  outline: none !important;
}
.box-login .form-control:focus{
  background-color: #bffcfb;
  border: none !important;
  outline: none !important;
}
.box-login .btn-entrar{
  background-color: #5C2E91 !important;
  outline: none !important;
  border: none !important;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
}
.box-login .btn-entrar:hover, .box-login .btn-entrar:focus{
  background-color: #6e40a3 !important;
}
.box-login .card-header {
  margin-top:10px !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.box-login .card-header li{
  text-align: center;
  width: 50%;
}
.box-login .tab-content {
   background-color: rgba(0, 0, 0, 0.05) !important;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
}
.box-login .img-pref{
  display: block;
  margin: auto;
}
.box-login .esqueceu {
  color: #DEFFFE;
  text-decoration: underline; 
  margin-top: 10px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
</style>
