<template>
  <div>
    <b-container>
      <b-row class="box-recuperacao">
        <b-col md="12" class="box-form">
          <b-img src="/img/logopref.png" fluid class="mb-3 img-pref"></b-img>
          <h3 class="logo">Agendamento</h3>
          <span class="slogan text-right">Agende onde estiver.</span>
          <b-tabs pills card>
            <b-tab title="Recuperação" active>
              <b-card-text>
                <b-form-input :maxlength="255" placeholder="E-mail*" autocomplete="off" class="mb-3" ref="stremail_recuperacao" v-model.trim="recuperar.stremail" v-on:keyup.enter="ChecaDadosRecuperacao"></b-form-input>
                <b-form-input id="strcpf" :maxlength="255" autocomplete="off" placeholder="CPF*" class="mb-3"  v-model.trim="recuperar.strcpf" ref="strcpf_recuperacao" v-on:keyup.enter="ChecaDadosRecuperacao"></b-form-input>
                <b-overlay
                  :show="btrecuperarLoading"
                  rounded="pill"
                  opacity="0.6"
                  spinner-small
                  spinner-variant="primary">
                    <b-button variant="primary" class="btn-entrar p-2" @click="Recuperar">
                      <b-icon-check-circle class="mr-1"></b-icon-check-circle> RECUPERAR
                    </b-button>
                  </b-overlay>
                 <span class="voltar" @click="Voltar"><b-icon-arrow-left-circle class="mr-1"></b-icon-arrow-left-circle>Voltar</span>
              </b-card-text>
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import { BButton,BCol,BRow, BContainer, BTabs, BTab, BFormGroup, BFormInput, BFormSelect, BOverlay, BAlert, BCardText, BImg, BImgLazy, IconsPlugin, BIconCheckCircle, BIconPlusCircle, BIconArrowLeftCircle } from 'bootstrap-vue'
import CPF, { validate } from 'cpf-check';
export default {
  name: 'Recuperacao',
  components: {
    BButton,BCol,BRow, BContainer, BTabs, BFormGroup, BFormInput, BFormSelect, BOverlay, BAlert, BCardText, BTab,  BImg, BImgLazy, IconsPlugin, BIconCheckCircle, BIconPlusCircle, BIconArrowLeftCircle
  },
  data() {
    return {
      btrecuperarLoading: false,
      btcadastrarLoading: false,
      recuperar:{
        stremail: '',
        strcpf: '',
      },
      api: process.env.VUE_APP_API_BASEURL,
    }
  },
  methods:{
    ChecaDadosRecuperacao(){
      if(this.recuperar.stremail.length > 0 && this.recuperar.strcpf.length <= 0){
        setTimeout(()=>this.$refs.strcpf_recuperacao.focus(),50);
      }
      else if(this.recuperar.stremail.length <= 0 && this.recuperar.strcpf.length > 0){
        setTimeout(()=>this.$refs.stremail_recuperacao.focus(),50);
      } 
      else if(this.recuperar.stremail.length > 0 && this.recuperar.strcpf.length > 0){
        this.Recuperar(); 
      }
    },
    Voltar(){
      this.AbrePagina('/login');
    },
    Recuperar(){
      if(this.recuperar.stremail.length <= 0){
        this.AvisoErroPromise('Você não preencheu o campo E-mail').then(()=> setTimeout(()=>this.$refs.stremail_recuperacao.focus(),500));
      } else if(this.recuperar.strcpf.length <= 0){
        this.AvisoErroPromise('Você não preencheu o campo CPF').then(()=> setTimeout(()=>this.$refs.strcpf_recuperacao.focus(),500));
      } else if(!CPF.validate(this.recuperar.strcpf)){
        this.AvisoErroPromise('CPF inválido').then(()=> setTimeout(()=>this.$refs.strcpf_recuperacao.focus(),500));
      } else {
        this.btrecuperarLoading = true;
        this.axios.post(this.api+'recuperacao/insert',
                        { stremail: this.recuperar.stremail, 
                          strcpf: this.recuperar.strcpf })
        .then((retorno)=>{
          if(retorno){
            this.btrecuperarLoading = false;
            this.recuperar = { stremail: '',
                                strcpf: '' },
            this.AvisoSucesso(retorno.data.mensagem);
          } 
        }).catch((error)=>{
          this.btrecuperarLoading = false;
          this.AvisoErro(error.response.data.mensagem)
        });
      }
    },
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300&display=swap');
html{
  height: 100vh;
  background: linear-gradient(180deg, rgba(51,11,87,1) 0%, rgba(36,72,115,1) 35%,  rgb(137, 237, 255) 90%, rgba(246,252,252,1) 100vh);
  background-attachment: fixed;
  background-color: white;
  background-repeat: no-repeat !important;
  padding: 0 !important;
  margin: 0 !important;
}
body {
  background-attachment: fixed;
  background: url('/img/bg.png');
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}
.box-recuperacao a {
  color: rgb(252, 252, 252) !important;
}
.box-recuperacao .helper small{
  color: white !important;
  text-align: center !important;
}
.box-recuperacao .logo{
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color:white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.box-recuperacao .box-form{
  height: 80vh;
}
.box-recuperacao .slogan{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: 'Quicksand', sans-serif;
  color: white !important;
  font-size: 1rem;
  line-height: 1rem;
  width: 100% !important;
  margin-top: -10px;
}
.box-recuperacao{
  max-width: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto !important;
}
.box-recuperacao .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  border-radius: 0 !important;
  border-bottom: 6px solid #00AEAA !important;
  background: transparent !important;
}
.box-recuperacao .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  font-weight: bold !important;
}
.box-recuperacao .form-control, .box-recuperacao .custom-select{
  background-color: #ddfffe;
  border: none !important;
  outline: none !important;
}
.box-recuperacao .form-control:focus{
  background-color: #bffcfb;
  border: none !important;
  outline: none !important;
}
.box-recuperacao .btn-entrar{
  background-color: #5C2E91 !important;
  outline: none !important;
  border: none !important;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
}
.box-recuperacao .btn-entrar:hover, .box-recuperacao .btn-entrar:focus{
  background-color: #6e40a3 !important;
}
.box-recuperacao .card-header {
  margin-top:10px !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.box-recuperacao .card-header li{
  text-align: center;
  width: 100%;
}
.box-recuperacao .tab-content {
   background-color: rgba(0, 0, 0, 0.05) !important;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
}
.box-recuperacao .img-pref{
  display: block;
  margin: auto;
}
.box-recuperacao .voltar {
  color: #DEFFFE;
  text-decoration: none; 
  margin-top: 10px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
</style>
